body { margin-left: 10%; margin-right: 10%; font-family:
Arial }
/* unvisited link */
a:link {
  color: #003366;
}

/* visited link */
a:visited {
  color: #660066;
}

/* mouse over link */
a:hover {
  color: #660066;
}

/* selected link */
a:active {
  color: #660066;
}

body {
  background-color: #E5DCF7;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
